.profilePicture {
    position: relative;
    z-index: 2;
}

.imageContainer {
    position: relative;
}

.imageGradient {
    height: 230px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(220.62deg, #2068F5 6.21%, rgba(147, 78, 201, 0.465689) 49.57%, rgba(134, 49, 201, 0.03) 87.37%);
    filter: blur(100px);
}

.aboutMeDesc {
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 60px;
    /* or 188% */

    text-align: center;
}


