
.textHeroBase {
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 87px;
}

.heroWrapper {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}
