.textHeroBase {
    font-style: normal;
    font-weight: 300;
    /* line-height: 1; */
    color: white;

    @media (max-width: 640px) {
        font-size: 42px;

        /* Font size on small screens */
    }

    @media (min-width: 641px) {
        font-size: 64px;
        /* Font size on larger screens */
    }
}